/* Sets up Custom font */
@font-face {
    font-family: 'Oxygen';
    /* Imports font from URL */
    src: url(/static/Fonts/Oxygen/Oxygen/Oxygen-Regular.ttf);
}

/* Sets up Custom font */
@font-face {
    font-family: 'Playfair Display';
    /* Imports font from URL */
    src: url(/static/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

/* Sets up Custom font */
@font-face {
    font-family: 'Kaushan';
    /* Imports font from URL */
    src: url(/static/Fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'Walter-Turncoat';
    src: url(/static/Fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf);
}
/* setting up body */
body{
	color:#0f0f0f;
    /* sets font for the page */
    font-family: 'Oxygen-regular';
	font-size: 2rem;
	background-color: rgb(191, 247, 174);
}

h1,header,h2{
    font-family: 'Playfair_Display';
}

footer{
    font-size: small;
    font-family: 'Kaushan';
}

pre{
    line-height: 0px
}

/* change default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
img,
dd {
    margin-left: 10;
	margin-right: 10;
	margin-top: 0;
	margin-bottom: 10;
}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*
nav{
    left: 0;
    font-family: 'Walter-Turncoat';
    overflow: hidden;
    background-color: #333;
    /*position: fixed; /* Set the navbar to fixed position 
    top: 0; /* Position the navbar at the top of the page 
    width: 100%; 
    float: left;
    font-size:xx-large ;
}
*/
/* remove any unecciary margins and background colour for the items inside the navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Walter-Turncoat';
    position: fixed;
    width: 100%;
}
  


ul li{
    display: inline-block;
    position: relative;

}
  
ul li a {
    display: block;
    padding: 20px 75px;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #333;
}

ul li a:hover{ 
    background: #7f7f7f;
}

ul li:hover ul.dropdown {
    display: block;
}
  
/* Edits hero image */
.hero-grid {

    display: grid;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
    grid-template-areas:
        'one';
    width: 98.5vw;
}

/* defines the childs the hero grid*/
.hero-grid:nth-child(1) {
    grid-area: one
}

/* places the location of the hero grid */
.hero-grid {
    grid-template-areas:
        "one";

}

/* Sets the size for the Hero image so it fills the correct space */
.hero_img {
    width: 98.5vw;
    height: 40vh;
    border-radius: 0.5rem;
    display: block;
}

/* image size declerations*/

.international_img{
    width: 300px;
    height:  200px;
    border-radius: 0.5rem;
    display: block;
}

.league_img{
    width: 450px;
    height:  300px;
    border-radius: 0.5rem;
    display: block;
}

.club_img{
    width: 300px;
    height:  300px;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
}

.standard_img{
    width: 100px;
    height:  150px;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
    transition: transform .2s;
}

.standard_img:hover{
    transform: scale(2.5);
}
/* grid size declerations*/
/* New grid trial for player award formating */

.two_col-grid{
    display: grid;
    gap: 0rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(2, 1fr)
}

.four_col-grid{
    display: grid;
    gap: 0rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(4, 1fr)
}

.three_col-grid{
    display: grid;
    gap: 0rem;
    padding: 1rem;
    grid-template-columns: 
         1fr 1fr 1fr;
}

.league-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         100px 1fr 1fr 1fr;
}

.five_col-grid{
    display: grid;
    gap: 0rem;
    padding: 1rem;
    grid-template-columns: 
         repeat(5,1fr) ;
}


.gridspan2{
    grid-column: span 2;
}
/*
alternating grid colours 
*/
.five_col-grid>article:nth-child(10n+1),
.five_col-grid>article:nth-child(10n+2),
.five_col-grid>article:nth-child(10n+3),
.five_col-grid>article:nth-child(10n+4),
.five_col-grid>article:nth-child(10n+5)
{
    background-color: rgb(173, 219, 159);
}

.four_col-grid>article:nth-child(8n+1),
.four_col-grid>article:nth-child(8n+2),
.four_col-grid>article:nth-child(8n+3),
.four_col-grid>article:nth-child(8n+4)
{
    background-color: rgb(173, 219, 159);
}

.three_col-grid>article:nth-child(6n+1),
.three_col-grid>article:nth-child(6n+2),
.three_col-grid>article:nth-child(6n+3)
{
    background-color: rgb(173, 219, 159);
}

.two_col-grid>article:nth-child(4n+1),
.two_col-grid>article:nth-child(4n+2)
{
    background-color: rgb(173, 219, 159);
}

