/* Sets up Custom font */
@font-face {
    font-family: 'Oxygen';
    /* Imports font from URL */
    src: url(/static/Fonts/Oxygen/Oxygen/Oxygen-Regular.ttf);
}

/* Sets up Custom font */
@font-face {
    font-family: 'Playfair Display';
    /* Imports font from URL */
    src: url(/static/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

/* Sets up Custom font */
@font-face {
    font-family: 'Kaushan';
    /* Imports font from URL */
    src: url(/static/Fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'Walter-Turncoat';
    src: url(/static/Fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf);
}
/* */
body{
	color:#0f0f0f;
    font-family: 'Oxygen-regular';
	font-size: 2rem;
	background-color: rgb(191, 247, 174);
}

h1,header,h2{
    font-family: 'Playfair_Display';
}

footer{
    font-size: small;
    font-family: 'Kaushan';
}

pre{
    line-height: 0px
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
img,
dd {
    margin-left: 10;
	margin-right: 10;
	margin-top: 0;
	margin-bottom: 10;
}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


nav{
    left: 0;
    font-family: 'Walter-Turncoat';
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; 
    float: left;
    font-size:xx-large ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Edits hero image */
.hero-grid {

    display: grid;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
    grid-template-areas:
        'one';
    width: 98.5vw;
}

/* defines the childs the hero grid*/
.hero-grid:nth-child(1) {
    grid-area: one
}

/* places the location of the hero grid */
.hero-grid {
    grid-template-areas:
        "one";

}

/* Sets the size for the Hero image so it fills the correct space */
.heroimg {
    width: 98.5vw;
    height: 40vh;
    border-radius: 0.5rem;
    display: block;
}


.playerawardimg{
    width: 360px;
    height:  450px;
    border-radius: 0.5rem;
    display: block;
}
.clubawardimg{
    width: 360px;
    height:  450px;
    border-radius: 0.5rem;
    display: block;
}

/* New grid trial for player award formating */

.playeraward-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(2, 1fr)
}

.clubaward-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(2, 1fr)
}

.league-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(4, 1fr)
}

.award-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         1fr 1fr 1fr;
}

.awardimg{
    width: 360px;
    height:  450px;
    border-radius: 0.5rem;
    display: block;
}

.international-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         1fr 1fr 1fr;
}

.internationalimg{
    width: 300px;
    height:  200px;
    border-radius: 0.5rem;
    display: block;
}

.league-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         50px 1fr 1fr 1fr;
}

.leagueimg{
    width: 450px;
    height:  300px;
    border-radius: 0.5rem;
    display: block;
}

.club-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         1fr 1fr 1fr 1fr;
}

.clubimg{
    width: 300px;
    height:  300px;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
}

.player-grid{
    display: grid;
    
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
         repeat(5,1fr) ;
}

.playerimg{
    width: 350px;
    height:  400px;
    border-radius: 0.5rem;
    display: block;
    object-fit: cover;
}

.playerclub-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(3, 1fr)
}

.gridspan2{
    grid-column: span 2;
}

.internationalaward-grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-columns: 
        repeat(2, 1fr)
}