{% extends 'layout.html' %}
{% block content %}
<main class="award-grid">
    {% for tropies in results %}
        <article class="award-grid">
            <div>
                <h1>{{tropies[0]}}</h1></div>
        </article>
        <article class="award-grid">
            <img class="awardimg" src=static/images/website/Awards/{{tropies[3]}}>
        </article>
        <article class="award-grid">
            <div>
                <p>{{tropies[1]}}</p>
            </div>
        </article>
        <article class="award-grid">
            <div>
                <p>{{tropies[2]}}</p>
            </div>
        </article>


{% endfor %}
{% endblock %}
</main>