{% extends 'layout.html' %}
{% block content %}

<main class="club-grid">
    {% for club in results %}
        <article >
                <p>{{club[1]}}</p>
        </article>
            <article>
                <img class="clubimg" src=static/images/website/emblem/{{club[4]}}.png>
            </article>
            <article >
                    <p>{{club[2]}}</p>
            </article>
            <article >
                <p>{{club[3]}}</p>
            </article>
            
    {% endfor %}
{% endblock %}