{% extends 'layout.html' %}
{% block content %}
<main>
    <form action="/club" method="post">
        <label for="club">Choose a club(s):</label>
        <select id="club" name="club" size="10" multiple>
            {%- for club in fulllist -%}
                <option value="{{club[0]}}">{{club[1]}}</option>
            {%- endfor -%}
        </select><br><br>
        <input type="submit">
        </form>
    <main class="club-grid">
        {%- for club in results -%}
            <article >
                    <p>{{club[1]}}</p>
            </article>
                <article>
                    <img class="clubimg" src=static/images/website/emblem/{{-club[4]-}}.png>
                </article>
                <article>
                    <p>{{club[2]}}</p>
                </article>
                <article >
                    <p>{{club[3]}}</p>
                </article>
    
            
        {%- endfor -%}
    </main>
    {% endblock %}
</main>