{% extends 'layout.html' %}
{% block content %}
<h1>Welcome to Football Stats!</h1>
<h3>Content</h3>
<p>Football Stats is website all about football staticsts in particular about player, club and international awawrds. The database is up to date with 2023-2024 season containing 30 countries, 40 players and, 130 clubs.</p>
<h3>How to use</h3>
<p>On different pages you will see a selection box, you are able to scroll through and select an item you would want to know more information about then submit and the selected item will be shown. To reset the page click submit with nothing selected. If you would like to chose multiple then use control + click and control shift click to select a group.</p>
{% endblock %}
