{% extends 'layout.html' %}
{% block content %}
{% set seen= ['no']%}
<main class="threecol-grid">
    {% for player in results %}
        {%- if seen[-1] == player[0] -%}
            <article>
                <div>
                    <p>{{player[2]}}</p>
                </div>
            </article>
            <article>
                    <img class="standardimg" src=static/images/website/player/{{player[3]}}.png>
            </article>
            <article>
                <p>{{player[4]}}</p>
            </article>
        {% else %}
            <article>
                <div>
                    <h1>{{player[0]}} </h1></div>
            </article>
            <article>
                <img class="internationalimg" src=static/images/website/Flags/{{player[1]}}.png>
            </article>
            <article>
                <div>
                    <p>Apperances</p>
                </div>
            </article>
            <article>
                <div>
                    <p>{{player[2]}}</p>
                </div>
            </article>
            <article>
                    <img class="playerimg" src=static/images/website/player/{{player[3]}}.png>
            </article>
            <article>
                <p>{{player[4]}}</p>
            </article>
            {%- set seen = seen.append(player[0]) %}
        {% endif %}    

    {% endfor %}
{% endblock %}
</main>