{% extends 'layout.html' %}
{% block content %}

<main class="international-grid">
    {% for inter in results %}
        <article class="international-grid">
            <div>
                <p>{{inter[1]}}</p>
            </div>
        </article>
            <article class="international-grid">
                <img class="internationalimg" src=static/images/website/Flags/{{inter[3]}}>
            </article>
            <article class="international-grid">
                <div>
                    <p>{{inter[2]}}</p>
                </div>
            </article>
            
    {% endfor %}
{% endblock %}