{% extends 'layout.html' %}
{% block content %}
<main>
    <form action="/international" method="post">
        <label for="international">Choose a contry(s):</label>
        <select id="international" name="international" size="10" multiple>
            {%- for international in fulllist -%}
                <option value="{{international[0]}}">{{international[1]}}</option>
            {%- endfor -%}
        </select><br><br>
        <input type="submit">
    </form>
    <main class="international-grid">
        <article><p>Country</p></article>
        <article><p>Flag</p></article>
        <article><p>Description</p></article>
        {%- for international in results -%}
            <article >
                    <p>{{international[1]}}</p>
            </article>
                <article>
                    <img class="internationalimg" src=static/images/website/Flags/{{-international[3]-}}.png>
                </article>
                <article>
                    <p>{{international[2]}}</p>
                </article>
    
            
        {%- endfor -%}
    </main>    
{% endblock %}
</main>