<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
		<link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <!-- The Nav Bar goes here -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/player">Players</a></li>
                <li><a href="/club">Clubs</a></li>
                <li><a href="/international">International</a></li>
                <li><a href="/award">Awards</a></li>
                <li><a href="/club_awards">club awards</a></li>
                <li><a href="/playeraward">Player Awards</a></li>
            </ul>
        </nav>
        <main class="hero-grid">
            <div class =flex>
                <img class = 'heroimg' src='static/images/website/HERO.jpg' alt="not working"> 
            </div>
        </main>
        <main>

            {% block content%}
            {%endblock%}
        </main>
    <footer>
        all rights reserved for oringinal creaters. Any and alll photograpsh are all copyright free under the consumers garenty act section 7 subsection 23b <br>
        all fonts are from google fonts with lesense for use in the website licenses can be read<br>
        Any and all information is all public and avaible to anyone conact noonereadsthis@nothere.com if you have problems<br>
        For the true readers who are reading this from 28 april 2024 all cellukar devuices are ban from schools in aetoreoa, if this is disterbing to you call +64 21 1656569 for any and all complates <br>
        christopher luxon has a tik tok <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur aperiam ad fuga distinctio quos ipsam quam eaque, sint, repellendus vel, facere nobis! Ea natus quia rerum! Facere culpa error accusantium? 
    </footer>
    </body>
</html>