{% extends 'layout.html' %}
{% block content %}

<main class="league-grid">
    <article><p>FIFA Ranking</p></article>
    <article><p>League</p></article>
    <article><p>Logo</p></article>
    <article><p>Description</p></article>
    {% for league in results %}
        <article>
                <p>{{league[3]}}</p>
        </article>
        <article>
            <p>{{league[1]}}</p>
        </article>
            <article>
                <img class="leagueimg" src=static/images/website/Leagues/{{league[4]}}>
            </article>
            <article >
                    <p>{{league[2]}}</p>
            </article>
            
    {% endfor %}
{% endblock %}