{% extends 'layout.html' %}
{% block content %}
<main>
<form action="/player" method="post">
    <label for="player">Choose a player(s):</label>
    <select id="player" name="player" size="10" multiple>
        {%- for player in fulllist -%}
            <option value="{{player[5]}}">{{player[0]}}</option>
        {%- endfor -%}
    </select><br><br>
    <input type="submit">
    </form>
<main class="player-grid">
    {%- for player in results -%}
        <article>
                <p>{{player[0]}}</p>
        </article>
            <article >
                    <p>{{player[1]}}</p>
            </article>
            <article>
                <img class="playerimg" src=static/images/website/player/{{-player[4]-}}.png>
            </article>
            <article>
                <p>{{player[2]}}</p>
            </article>
            <article >
                <p>{{player[3]}}</p>
            </article>

        
    {%- endfor -%}
</main>
{% endblock %}
</main>