{% extends 'layout.html' %}
{% block content %}
{% set number = 0 %}
<main class="playeraward-grid">
    {% for tropies in results %}
        {%- if number == tropies[0] -%}
            <article class="playeraward-grid">
                <div>
                    <p>{{tropies[2]}}</p>
                </div>
            </article>
            <article class="playeraward-grid">
                <div>
                    <p>{{tropies[3]}} {{number}}</p>
                </div>
            </article>
            {%- set number = tropies[0] %}
        {% endif %}
        {%- if number != tropies[0] -%}
            <article class="playeraward-grid">
                <div>
                    <h1>{{tropies[0]}}</h1></div>
            </article>
            <article class="playeraward-grid">
                <img class="playerawardimg" src=static/images/website/Awards/{{tropies[1]}}>
            </article>
            <article class="playeraward-grid">
                <div>
                    <p>{{tropies[2]}}</p>
                </div>
            </article>
            <article class="playeraward-grid">
                <div>
                    <p>{{tropies[3]}} {{number}}</p>
                </div>
            </article>
            {%- set number = tropies[0] %}
        {% endif %}    


    {% endfor %}
{% endblock %}
</main>